@model CoursePurchasePostgreSQL.Models.Batch

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Batch</h4>
    <hr />
    <img src="/images/@Model.BatchImageUrl" alt="Batch Image" style="max-width:300px;max-height:200px;" />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BatchName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BatchName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TentativeEndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TentativeEndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fees)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fees)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FeesPaid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FeesPaid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoursTaken)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoursTaken)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Details)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Details)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Remarks)
        </dd>

        <a class="btn btn-primary" asp-controller="Cart" asp-action="Index" asp-route-batchId="@Model.BatchId">
            Add to Cart
        </a>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.BatchId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

